/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #fff;
}

ol, ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* utilities */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

main {
    flex-grow: 1;
    background-color: #000;
}

button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 14px;
}


/* nav bar */

#navigation .nav__container {
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #c4cebc;
    min-height: 80px;
    font-size: 14px;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 60px;
}

#navigation .audio-video, .main-nav {
    flex-wrap: wrap;
    height: 60px;
    padding: 0 20px;
}

#navigation .nav__container .audio-video, .main-nav {
    gap: 0 20px;
}

#navigation .relative {
    padding-right: 20px;
    position: relative;
}

#navigation .relative.alt {
    padding-left: 20px;
    padding-right: 0;
}

#navigation .absolute {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 10px;
}

#navigation .absolute.alt {
    left: -40px;
    top: 15px;
}

#navigation i {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

#navigation .main-nav ol {
    display: contents
}

#navigation #green {
    color: #49b80b;
}

#navigation .nav__container .nav__cta {
    background-color: #4a4a4a;
    line-height: 80px;
    padding: 0 20px;
}

/* cam section */

#camera {
    align-items: center;
    row-gap: 50px;
}

#camera .speaker-view {
    gap: 10px;
    padding: 5px;
    font-size: 14px;
    align-self: flex-end;
}

#camera .speaker-view .speaker__cta {
    background-color: #4a4a4a;
    padding: 5px 10px;
    border-radius: 5px;

}

#camera .webcam__wrapper {
    max-width: 1750px;
    flex-wrap: wrap;
}

#camera .webcam__wrapper .webcam-img {
    max-width: 250px;
    min-height: 150px;
    position: relative;
}

#camera .webcam-img .user-cam {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 10px 5px;
    font-size: 14px;
}

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
}